
@{
    ViewBag.Title = "最新消息內容";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">NEWS & EVENTS</h2>
    <ul id="marquee" class="marquee">
        <li>NEWS title1</li>
        <li>NEWS title2</li>
        <li>NEWS title3</li>
    </ul>
</header>

<article>
    <header>NEW Title Title Title Title Title Title Title Title Title Title</header>
    <h3>2015/8/28</h3>
</article>