@{
    ViewBag.Title = "最新消息列表";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">NEWS & EVENTS</h2>
    <ul id="marquee" class="marquee">
        <li>NEWS title1</li>
        <li>NEWS title2</li>
        <li>NEWS title3</li>
    </ul>
</header>

<figure class="col-4">
    <div class="cover"><img src="~/Content/images/News/pic.jpg" alt="NEWS配圖"></div>
    <figcaption>
        <h3><small>2015/8/28</small> NEWS title title title title title</h3>
        <!-- 局部文字只顯示40字 -->
        <p>最新消息局部內容最新消息局部內容最新消息局部內容最新消息局部內容最新消息局部內容...</p>
        <a href="~/News/Content" class="btn">READ MORE</a>
    </figcaption>
</figure>

<figure class="col-4">
    <div class="cover"><img src="~/Content/images/News/pic.jpg" alt="NEWS配圖"></div>
    <figcaption>
        <h3><small>2015/8/28</small> NEWS title title title title title</h3>
        <!-- 局部文字只顯示40字 -->
        <p>最新消息局部內容最新消息局部內容最新消息局部內容最新消息局部內容最新消息局部內容...</p>
        <a href="~/News/Content" class="btn">READ MORE</a>
    </figcaption>
</figure>

<figure class="col-4">
    <div class="cover"><img src="~/Content/images/News/pic.jpg" alt="NEWS配圖"></div>
    <figcaption>
        <h3><small>2015/8/28</small> NEWS title title title title title</h3>
        <!-- 局部文字只顯示40字 -->
        <p>最新消息局部內容最新消息局部內容最新消息局部內容最新消息局部內容最新消息局部內容...</p>
        <a href="~/News/Content" class="btn">READ MORE</a>
    </figcaption>
</figure>

<figure class="col-4">
    <div class="cover"><img src="~/Content/images/News/pic.jpg" alt="NEWS配圖"></div>
    <figcaption>
        <h3><small>2015/8/28</small> NEWS title title title title title</h3>
        <!-- 局部文字只顯示40字 -->
        <p>最新消息局部內容最新消息局部內容最新消息局部內容最新消息局部內容最新消息局部內容...</p>
        <a href="~/News/Content" class="btn">READ MORE</a>
    </figcaption>
</figure>
