@{
    ViewBag.Title = "Contact Us";
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">CONTACT US</h2>
    <ul id="marquee" class="marquee">
        <li>Our products are used in automotive industry, disposable hygiene industry, cigarette manufacturing, medical equipments, the laminating technology in textile industry, packaging, DIY, woodworking, furniture, etc.</li>
        <li>In order to develop the business opportunities in the Southeast Asia, the branch office was established in 2002, in Binh Duong Province, Vietnam.</li>
        <li>We gain customers' support by our quality, service, and creativities. We gain customers' trust by our professional consulting service.</li>
    </ul>
</header>

<iframe class="float-l" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1810.3706362840921!2d121.20784130000001!3d24.838520100000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34683c48d5c20e31%3A0x72e8b31495e66ceb!2zMzI15qGD5ZyS5biC6b6N5r2t5Y2A6auY5qWK5YyX6LevMjjomZ8!5e0!3m2!1szh-TW!2stw!4v1440400062208" frameborder="0" style="border:0" allowfullscreen></iframe>

<dl class="float-l">
    <dt>Address</dt>
    <dd>No.28, Ln. 452, Gaoyang N. Rd., Longtan Dist., Taoyuan City 325, Taiwan (R.O.C.)</dd>

    <dt>TEL</dt>
    <dd>886-3-4117500</dd>

    <dt>FAX</dt>
    <dd>886-3-4117963</dd>

    <dt>Email</dt>
    <dd><a href="mailto:super@olecgroup.com">super@olecgroup.com</a></dd>
</dl>
