@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">CONTACT US</h2>
    <ul id="marquee" class="marquee">
        <li>NEWS title1</li>
        <li>NEWS title2</li>
        <li>NEWS title3</li>
    </ul>
</header>