@charset "UTF-8";

// import
// ------------------------------------------------------------
@import "helper/var";
@import "helper/mixins";


// == footer
#footer {
    .list-inline li {
        font-size: em(18px);
    }
}

// == index
.index {
    @for $i from 1 through 3 {
        #banner .i#{$i} {
            background-image: url(../images/index/banner#{$i}_en.jpg);
        }
    }
}

// == page
.marquee {
    height: 100px;
}


// == contact
.#{nth($pages, 5)} main {
    dt {
        width: 80px;
    }
    dd {
        min-width: 340px;
        max-width: 340px;
    }
}