@{
    ViewBag.Title = "About us";
    ViewBag.BodyClass = "AboutUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">ABOUT US</h2>
    <ul id="marquee" class="marquee">
        <li>於１９９２年３月設立於桃園，十餘年來一直秉持著專業的理念致力於接著劑【膠】的開發與銷售世界知名品牌"富樂產品"</li>
        <li>本公司於中國大陸之廣州經濟開發區設有發貨倉庫多年，且在２００２年於越南平陽省設立分公司，爭取東南亞市場商機。以品質、服務及產品創新等三大主軸，以爭取顧客的支持，專業貼切的諮詢服務來獲得顧客信賴。</li>
        <li>服務內容：各材種封邊木皮、熱熔膠機械設備、PUR熱熔膠、各類膠膜膠網、車燈業用膠、複合材料用膠、紡織業用膠、中空玻璃相關產品</li>
    </ul>
</header>

<article>
    <table class="float-r">
        <tr>
            <th colspan="2">服務內容</th>
        </tr>
        <tr>
            <td>各材種封邊木皮</td>
            <td>熱熔膠機械設備</td>
        </tr>
        <tr>
            <td>PUR熱熔膠</td>
            <td>各類膠膜膠網</td>
        </tr>
        <tr>
            <td>車燈業用膠</td>
            <td>複合材料用膠</td>
        </tr>
        <tr>
            <td>紡織業用膠</td>
            <td>中空玻璃相關產品</td>
        </tr>
    </table>
    <p>富利源企業有限公司於１９９２年３月設立於桃園，二十餘年來一直秉持著專業理念致力於接著劑【膠】及綠能遮光材料開發與製造加工並以ＯＬＥＣ品牌銷售世界30餘國。 同時代理國際大廠高分子相關產品.</p>
    <p>接著劑事業部 為本公司的基礎事業，產品涵蓋水性接著劑 濕氣反應型熱熔膠（ＰＵＲ） 環保型熱熔膠，其產品應用範圍涵蓋汽車工業、一次性衛生用品行業【不織布】、香菸製造業、醫療器材、紡織貼合工業、包裝行業、DIY及木工傢俱等行業。</p>
    <p>高分子暨材料事業部 其部門代理國際知名大廠,聚酯多元醇 醋酸乙烯酯共聚物乳膠 丙烯酸乳液等高分子相關材料,節能遮光布,貼合印刷月產能200萬/米,外銷全球.</p>
</article>