@{
    ViewBag.Title = "About Us";
    ViewBag.BodyClass = "AboutUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">ABOUT US</h2>
    <ul id="marquee" class="marquee">
        <li>OLEC was established in Taoyuan, in March, 1992. OLEC has been devoted in developing and selling adhesive for more than 20 years. Also, we are authorized to sell macromolecule-related products by world renowned corporations.</li>
        <li>We have a warehouse in Guangzhou economic development zone, China. In order to develop the business opportunities in the Southeast Asia, the branch office was established in 2002, in Binh Duong Province, Vietnam. We gain customers' support by our quality, service, and creativities. We gain customers' trust by our professional consulting service.</li>
    </ul>
</header>

<article class="wrap">
    <img src="~/Content/images/AboutUs/pic.jpg" alt="幼童情境圖" class="float-r">
    <!-- <table class="float-r">
        <tr>
            <th colspan="2">服務內容</th>
        </tr>
        <tr>
            <td>各材種封邊木皮</td>
            <td>熱熔膠機械設備</td>
        </tr>
        <tr>
            <td>PUR熱熔膠</td>
            <td>各類膠膜膠網</td>
        </tr>
        <tr>
            <td>車燈業用膠</td>
            <td>複合材料用膠</td>
        </tr>
        <tr>
            <td>紡織業用膠</td>
            <td>中空玻璃相關產品</td>
        </tr>
    </table> -->
    <p>Ocean Land Enterprise Co., Ltd. was established in Taoyuan, in March, 1992. OLEC has been devoted in developing and manufacturing adhesive and eco light-blocking materials for more than 20 years. Our products are exported to more than 30 countries around the globe with our brand "OLEC". Also, we are authorized to sell macromolecule-related products by world renowned corporations.</p>
    <p>Adhesive Business Unit is the basic of our company. We produce water-based adhesive, polyurethane reactive adhesive (PUR), eco hot-melt adhesive. Our products are used in automotive industry, disposable hygiene industry, cigarette manufacturing, medical equipment, the laminating technology in textile industry, packaging, DIY, woodworking, furniture, etc.</p>
    <p>Macromolecule and Material Business Unit is in charge of selling macromolecule-related products from world renowned corporations, including polyester polyol, EVA emulsion, acrylic acid emulsion, etc. We also sell eco light-blocking fabric material worldwide. The output of lamination printing is 200 million meters per month.</p>
</article>