@{
    ViewBag.Title = "About us";
    ViewBag.BodyClass = "AboutUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">ABOUT US</h2>
    <ul id="marquee" class="marquee">
        <li>於１９９２年３月設立於桃園，十餘年來一直秉持著專業的理念致力於接著劑【膠】的開發與銷售，同時代理國際大廠高分子相關產品.</li>
        <li>本公司於中國大陸之廣州經濟開發區設有發貨倉庫多年，且在２００２年於越南平陽省設立分公司，爭取東南亞市場商機。以品質、服務及產品創新等三大主軸，以爭取顧客的支持，專業貼切的諮詢服務來獲得顧客信賴。</li>
        <li>服務內容：各材種封邊木皮、熱熔膠機械設備、PUR熱熔膠、各類膠膜膠網、車燈業用膠、複合材料用膠、紡織業用膠、中空玻璃相關產品</li>
    </ul>
</header>

<article class="wrap">
    <img src="~/Content/images/AboutUs/pic.jpg" alt="幼童情境圖" class="float-r">
    <!-- <table class="float-r">
        <tr>
            <th colspan="2">服務內容</th>
        </tr>
        <tr>
            <td>各材種封邊木皮</td>
            <td>熱熔膠機械設備</td>
        </tr>
        <tr>
            <td>PUR熱熔膠</td>
            <td>各類膠膜膠網</td>
        </tr>
        <tr>
            <td>車燈業用膠</td>
            <td>複合材料用膠</td>
        </tr>
        <tr>
            <td>紡織業用膠</td>
            <td>中空玻璃相關產品</td>
        </tr>
    </table> -->
    <p>Ocean Land Enterprise Co., Ltd. was established in Taoyuan, in March, 1992. OLEC has been devoted in developing and manufacturing adhiesive and eco light-blocking materials for more than 20 years. Our products are exported to more than 30 countries around the globe with our brand "OLEC". Also, we are authorized to sell macromolecule-related products by world renowned corporations.</p>
    <p>B.D. of Adhesive is the basic of our compnay. We produce water-based adhesive, polyurethane peactive (PUR), eco hot-melt adhesive. Our products are used in automotive industry, disposable hygiene industry, cigarette manufacturing, medical equipments, the laminating technology in textile industry, packaging, DIY, woodworking, furniture, etc.</p>
    <p>B.D. of Macromolecule and Materials is in charge of selling macromolecule-related products from world renowned corporations, including polyester polyol, EVA emulsion, acrylic acid emulsion, etc. We also sell eco light-blocking fabric material worldwide. The output of lamination printing is 200 million meters per month.</p>
</article>