@{
    ViewBag.Title = "產品內頁";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">PRODUCTS</h2>
    <ul id="marquee" class="marquee">
        <li>接著劑產品涵蓋水性接著劑 濕氣反應型熱熔膠（ＰＵＲ） 環保型熱熔膠，其產品應用範圍涵蓋汽車工業、衛材業【不織布】、香菸製造業、醫療器材、紡織貼合工業、包裝行業、DIY及木工傢俱等行業。</li>
        <li>綠材產品包含複合節能遮光布、貼合印刷月產能200萬/米，外銷全球。</li>
        <li>高分子材料代理國際知名大廠，聚酯多元醇、醋酸乙烯酯共聚物乳膠、丙烯酸乳液等高分子相關材料，行銷亞太地區。</li>
    </ul>
</header>

<aside>
    <!-- 點選該產品時加入 class="current" -->
    <a href="~/Products" class="current">DIY glue stick</a>
    <a href="~/Products">Industrial glue stick</a>
    <a href="~/Products">Flame retardant glue stick</a>
    <a href="~/Products">Plastic tile industry</a>
    <a href="~/Products">CAR industry</a>
    <a href="~/Products">Electronic industry</a>
    <a href="~/Products">SHOE industry</a>
    <a href="~/Products">PACKAGING</a>
    <a href="~/Products">Cloth&Printing</a>
    <a href="~/Products">Woodworking&Decoration</a>
    <a href="~/Products">Tape&Label</a>
    <a href="~/Products">Other application</a>
    <a href="~/Products">Hot melt Pressure Sensitive Adhsive(HMPSA)</a>
    <a href="~/Products">Solution Type hot melt Adhsive</a>
</aside>

<article>
    <header>HOT MELT ADHESIVE DIVISION</header>
    <h3>DIY glue stick</h3>
    <table>
        <caption>
            NO.173 and NO.125 are most popular glue sticks. NO.173 is specially designed for users looking for excellent transparency, and NO.125 has better adhesion strength. In addition to NO.125 and NO.173, we also have many different grades of glue sticks that for DIY user with specific requirement.
        </caption>
        <tr>
            <th>Item no.</th>
            <th>Appearance</th>
            <th>Viscosity</th>
            <th>Soften Point</th>
            <th>Remark</th>
        </tr>
        <tr>
            <td>125</td>
            <td>Translucent white</td>
            <td>18000</td>
            <td>85℃</td>
            <td class="text-left">DIY, high adhesion strength</td>
        </tr>
        <tr>
            <td>925</td>
            <td>Yellow</td>
            <td>11500</td>
            <td>75℃</td>
            <td class="text-left">DIY, high adhesion strength</td>
        </tr>
        <tr>
            <td>173</td>
            <td>Transparent Clear</td>
            <td>25500</td>
            <td>85℃</td>
            <td class="text-left">DIY, perfect transparency</td>
        </tr>
        <tr>
            <td>189</td>
            <td>White</td>
            <td>6250</td>
            <td>65℃</td>
            <td class="text-left">DIY, low melting temperature for children</td>
        </tr>
    </table>
    <p class="tip">* Viscosity is showed at 160℃ with ASTM 3236 standard.</p>
</article>