@{
    ViewBag.Title = "Products";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">PRODUCTS</h2>
    <ul id="marquee" class="marquee">
        <li>We produce water-based adhesive, polyurethane peactive (PUR), eco hot-melt adhesive. Our products are used in automotive industry, disposable hygiene industry, cigarette manufacturing, medical equipments, the laminating technology in textile industry, packaging, DIY, woodworking, furniture, etc.</li>
        <li>We sell eco light-blocking fabric material worldwide. The output of lamination printing is 200 million meters per month.</li>
        <li>We are authorized to sell macromolecule-related products by world renowned corporations, including polyester polyol, EVA emulsion, acrylic acid emulsion, etc.</li>
    </ul>
</header>

<aside>
    <!-- 點選該產品時加入 class="current" -->
</aside>

<article>
    <header>HOT MELT ADHESIVE DIVISION</header>
    <h3>NO Product Data...</h3>
</article>