<div>
    <form action="" classname="form-inline">
        <div classname="form-group form-group-lg has-success">
            <label for="" classname="control-label">日期</label>
            <input type="text" value="2015/01/01" classname="form-control" disabled />
            <label for="" classname="control-label">　正在拜訪</label>
            <label for="" classname="control-label">　正在瀏覽</label>
            <input type="text" value="AAA" classname="form-control" disabled />
        </div>
    </form>
    <hr />
    <div role="tabpanel">
        <ul classname="nav nav-tabs" role="tablist">
            <li role="presentation" classname="active">
                <a href="#profile" aria-controls="home" role="tab" data-toggle="tab">
                    <i classname="glyphicon glyphicon-user"></i> 客戶資料
                </a>
            </li>
            <li role="presentation">
                <a href="#product" aria-controls="profile" role="tab" data-toggle="tab">
                    <i classname="glyphicon glyphicon-glass"></i> 產品分布
                </a>
            </li>
        </ul>
        <div classname="tab-content">
            <div role="tabpanel" classname="tab-pane active" id="profile">
                <form action="" classname="form-horizontal">
                    <div classname="col-md-12">
                        <div classname="form-group">





                        </div>
                    </div>
                    <div classname="col-md-6">
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">客戶編號</label>
                            <div classname="col-xs-4">
                                <input type="text" classname="form-control" />
                            </div>
                            <label for="" classname="control-label col-xs-2">統一編號</label>
                            <div classname="col-xs-4">
                                <input type="text" classname="form-control" />
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">店名</label>
                            <div classname="col-xs-10">
                                <input type="text" classname="form-control" />
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">客戶全名</label>
                            <div classname="col-xs-10">
                                <input type="text" classname="form-control" />
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">地址</label>
                            <div classname="col-xs-2">
                                <input type="text" classname="form-control" />
                            </div>
                            <div classname="col-xs-2">
                                <select name="" id="" classname="form-control">
                                    <option value="">桃園市</option>
                                </select>
                            </div>
                            <div classname="col-xs-2">
                                <select name="" id="" classname="form-control">
                                    <option value="">桃園區</option>
                                </select>
                            </div>
                            <div classname="col-xs-4">
                                <input type="text" classname="form-control" />
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">電話</label>
                            <div classname="col-xs-4">
                                <input type="text" classname="form-control" />
                            </div>
                            <label for="" classname="control-label col-xs-2">傳真</label>
                            <div classname="col-xs-4">
                                <input type="text" classname="form-control" />
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">行動電話</label>
                            <div classname="col-xs-10">
                                <input type="text" classname="form-control" />
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">E-mail</label>
                            <div classname="col-xs-10">
                                <input type="text" classname="form-control" />
                            </div>
                        </div>
                    </div>
                    <div classname="col-md-6">
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">客戶類別</label>
                            <div classname="col-xs-4">
                                <select name="" id="" classname="form-control">
                                    <option value="">直客</option>
                                </select>
                            </div>
                            <label for="" classname="control-label col-xs-2">通路別</label>
                            <div classname="col-xs-4">
                                <select name="" id="" classname="form-control">
                                    <option value="">即飲</option>
                                </select>
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">客戶型態</label>
                            <div classname="col-xs-4">
                                <select name="" id="" classname="form-control">
                                    <option value="">夜店</option>
                                </select>
                            </div>
                            <label for="" classname="control-label col-xs-2">客戶等級</label>
                            <div classname="col-xs-4">
                                <select name="" id="" classname="form-control">
                                    <option value="">G</option>
                                </select>
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">銷售等級</label>
                            <div classname="col-xs-4">
                                <select name="" id="" classname="form-control">
                                    <option value="">A</option>
                                </select>
                            </div>
                            <label for="" classname="control-label col-xs-2">客戶狀態</label>
                            <div classname="col-xs-4">
                                <select name="" id="" classname="form-control">
                                    <option value="">正常</option>
                                </select>
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">直客</label>
                            <div classname="col-xs-4">
                                <select name="" id="" classname="form-control">
                                    <option value="">是</option>
                                </select>
                            </div>
                            <label for="" classname="control-label col-xs-2">未訪原因</label>
                            <div classname="col-xs-4">
                                <select name="" id="" classname="form-control">
                                    <option value="">尚未營業</option>
                                </select>
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">聯絡人1</label>
                            <div classname="col-xs-4">
                                <input type="text" classname="form-control" />
                            </div>
                            <label for="" classname="control-label col-xs-2">生日1</label>
                            <div classname="col-xs-4">
                                <input type="date" classname="form-control" />
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">聯絡人2</label>
                            <div classname="col-xs-4">
                                <input type="text" classname="form-control" />
                            </div>
                            <label for="" classname="control-label col-xs-2">生日2</label>
                            <div classname="col-xs-4">
                                <input type="date" classname="form-control" />
                            </div>
                        </div>
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-2">區域群組</label>
                            <div classname="col-xs-4">
                                <select name="" id="" classname="form-control">
                                    <option value="">北區</option>
                                </select>
                            </div>
                            <label for="" classname="control-label col-xs-2">排序</label>
                            <div classname="col-xs-4">
                                <input type="number" classname="form-control" />
                            </div>
                        </div>
                    </div>
                    <div classname="col-md-12">
                        <div classname="form-group">
                            <label for="" classname="control-label col-xs-1">備註</label>
                            <div classname="col-xs-11">
                                <textarea name="" id="" cols="30" rows="5" classname="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" classname="tab-pane" id="product">
                <form action="" classname="form-horizontal">
                    <div classname="col-md-12">
                        <div classname="form-group">
                            <div classname="col-md-3 col-md-offset-9 text-right">
                                <button classname="btn btn-success"><i classname="glyphicon glyphicon-ok"></i> 完成拜訪</button>
                                <button classname="btn btn-default">暫停</button>
                            </div>
                        </div>
                    </div>
                    <div classname="col-md-3">
                        <div classname="panel panel-info">
                            <div classname="panel-body">
                                <div classname="form-group">
                                    <label for="" classname="control-label col-md-3">品名</label>
                                    <div classname="col-md-9">
                                        <input type="text" classname="form-control" />
                                    </div>
                                </div>
                                <div classname="form-group">
                                    <label for="" classname="control-label col-md-3">售價</label>
                                    <div classname="col-md-9">
                                        <input type="text" classname="form-control" />
                                    </div>
                                </div>
                                <div classname="form-group">
                                    <label for="" classname="control-label col-md-3">備註</label>
                                    <div classname="col-md-9">
                                        <input type="text" classname="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form action="" classname="form-inline text-center">
                    <ul classname="pager list-inline list-unstyled">
                        <li><button classname="btn btn-link btn-sm">第一頁</button></li>
                        <li><button classname="btn btn-link btn-sm">上一頁</button></li>
                        <li>
                            <select name="" id="" classname="form-control input-sm">
                                <option value="">第1頁</option>
                            </select>
                        </li>
                        <li><button classname="btn btn-link btn-sm">下一頁</button></li>
                        <li><button classname="btn btn-link btn-sm">最末頁</button></li>
                    </ul>
                    <ul classname="pagination list-inline list-unstyled">
                        <li>
                            <div classname="input-group">
                                <input type="text" value="1" classname="form-control input-sm">
                                <small classname="input-group-addon"> / 32</small>
                            </div>
                        </li>
                        <li>
                            每頁
                            <select name="" id="" classname="form-control input-sm">
                                <option value="">16</option>
                            </select>
                            筆
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>