@{
  ViewBag.Title = "首頁";
  ViewBag.IsFirstPage = true;
  Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="list-unstyled">
    <li><a href="~/Products">專業接著劑</a></li>
    <li><a href="~/Products">環保綠材</a></li>
    <li><a href="~/Products">高分子材料</a></li>
</ul>

<section class="news">
    <header>NEWS & EVENTS</header>
    <ol class="list-unstyled">
        <li>
            <div class="cover"><img src="~/Content/images/News/pic.jpg" alt="NEWS圖"></div>
            <h3>敬邀 2014 第十七屆中國國際膠黏劑及密封劑展</h3>
            <p>今年富利源推出新綠色節能概念之環保膠水 - 一液型水性PU膠, 水性硫化膠, 水性CR膠及生質TPU樹脂,現場將會展示新產品樣品及應用產品, 包括: 品牌運動...</p>
            <a href="~/News/content" class="btn">READ MORE</a>
        </li>
        <li>
            <div class="cover"><img src="~/Content/images/News/pic.jpg" alt="NEWS圖"></div>
            <h3>敬邀 2014 第十七屆中國國際膠黏劑及密封劑展</h3>
            <p>今年富利源推出新綠色節能概念之環保膠水 - 一液型水性PU膠, 水性硫化膠, 水性CR膠及生質TPU樹脂,現場將會展示新產品樣品及應用產品, 包括: 品牌運動...</p>
            <a href="~/News/content" class="btn">READ MORE</a>
        </li>
        <li>
            <div class="cover"><img src="~/Content/images/News/pic.jpg" alt="NEWS圖"></div>
            <h3>敬邀 2014 第十七屆中國國際膠黏劑及密封劑展</h3>
            <p>今年富利源推出新綠色節能概念之環保膠水 - 一液型水性PU膠, 水性硫化膠, 水性CR膠及生質TPU樹脂,現場將會展示新產品樣品及應用產品, 包括: 品牌運動...</p>
            <a href="~/News/content" class="btn">READ MORE</a>
        </li>
        <li>
            <div class="cover"><img src="~/Content/images/News/pic.jpg" alt="NEWS圖"></div>
            <h3>敬邀 2014 第十七屆中國國際膠黏劑及密封劑展</h3>
            <p>今年富利源推出新綠色節能概念之環保膠水 - 一液型水性PU膠, 水性硫化膠, 水性CR膠及生質TPU樹脂,現場將會展示新產品樣品及應用產品, 包括: 品牌運動...</p>
            <a href="~/News/content" class="btn">READ MORE</a>
        </li>
        <li>
            <div class="cover"><img src="~/Content/images/News/pic.jpg" alt="NEWS圖"></div>
            <h3>敬邀 2014 第十七屆中國國際膠黏劑及密封劑展</h3>
            <p>今年富利源推出新綠色節能概念之環保膠水 - 一液型水性PU膠, 水性硫化膠, 水性CR膠及生質TPU樹脂,現場將會展示新產品樣品及應用產品, 包括: 品牌運動...</p>
            <a href="~/News/content" class="btn">READ MORE</a>
        </li>
        <li>
            <div class="cover"><img src="~/Content/images/News/pic.jpg" alt="NEWS圖"></div>
            <h3>敬邀 2014 第十七屆中國國際膠黏劑及密封劑展</h3>
            <p>今年富利源推出新綠色節能概念之環保膠水 - 一液型水性PU膠, 水性硫化膠, 水性CR膠及生質TPU樹脂,現場將會展示新產品樣品及應用產品, 包括: 品牌運動...</p>
            <a href="~/News/content" class="btn">READ MORE</a>
        </li>
    </ol>
</section>